<link rel="stylesheet" href="../css/navbar.css">
<nav class="navbar">
    <div class="container nav-wrapper">
    
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-list">
            <li class="active">
                <a href="#">
                    <button class="btn">Home</button>
                </a>
            </li>
            <li>
                <a href="#">
                    <button class="btn">Product</button>
                 </a>
            </li>
            <li>
                <a href="#">
                    <button class="btn">Reviews</button>
                 </a>
            </li>
            <li>
                <button class="btn">Contact Us</button>
            </li>
        </ul>
    </div>
</nav>

<script src="../javascript/navbar.js"></script>